.DS_Store
.env
*.env
Fragrance App Backend/node_modules/
Fragrance App Backend/.env
Fragrance App Backend/*.db
Fragrance App Backend/*.db-wal
Fragrance App Backend/*.db-shm
Fragrance App Backend/scripts/data.csv
